body {
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid rgb(44,44,44);
  margin-top:-134px;
}

#todays-challenge {
  color: rgb(170, 59, 59);
  font-weight: bold;
  font-size: 52px;
}

a{
  color:rgb(73,29,50);
}

main {
  width: 800px;
  padding: 24px;
  margin: 200px auto 72px auto;
  background-color: rgb(219,108,94);
  box-shadow: 5px 5px 4px black;
  border: 5px solid rgb(44,44,44);
  border-radius: 8px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
}

h1{
  font-size: 30px;
  color:rgb(31,25,25);
}

span{
  color:rgb(66,2,2)
}